{%extends 'base.html'%}

{%block title%}join forum{%endblock%}

{%block content%}
<style>
body{
  background-color:black;
  background-image: url('/static/giff2.gif');
  background-repeat: no-repeat;
  background-size: 100% 40%;
  background-attachment:fixed;

}

a {
  background-color:white;
  border-radius:8px;
}


img {
   border-radius:35px;

}

h1 {
   background-color:blue;
   border-radius:8px;
   width:auto;

}
</style>



<center><h1 style="color:white;">Dont have good histories yet!!!</h1>
    <p style="color:red;">You have to make two consecutives software purchase to be able to unlock forums.</p>
    <h4 style="color:red;">Thanks for Joining us.</h4>
</center>
{%endblock%}
