{%load static%}

<html>
<head>
<link rel="stylesheet" href="{%static 'static.css'%}">
<title>{%block title%} {%endblock%}</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta charset="UTF-8"> 
<center>
<div class="topnav">
<a href="/">HOME</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="#">ABOUT US</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="contacts">CONTACT US</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="/accounts/login/">LOGIN</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="/signup">SIGNUP</a>
</center>
</div>
</head>

<body>
{%block content%}

{%endblock%}
