{%load static%}
<html>
<head>
<title>{%block title%} {%endblock%}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
<link rel="stylesheet" href="{%static 'static.css'%}"></br>
</style>
<center><img src="{%static 'dra1.webp'%}" alt="avatar" width="90" height="80"><center></br>

<center><a href="/account">HOME PAGE&nbsp;🏠️</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="/history">ACOUNT HISTORY&nbsp;👤️</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="/mywallet">FUND WALLET&nbsp;💱️</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/pc_stores">MY STORE&nbsp;🏪️</a></br></br></center>
</head>

<body></br></br></br>
{%block content%}

{%endblock%}
